@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto';
    background-image: url('/images/server_room_BW.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}