
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 22px;
}

a:hover {
  color: lightskyblue;
}

p.max_width_50 {
  margin-top: 40px;
  margin-left: 62px;
  max-width: 50%;
}

h3, h4 {
  margin-left: 62px;

}

ul li {
  display:inline;
}

ul {
  list-style-type: none;
}

html {
  height: 100%;
}

h3 {
  font-size: 20px;
}

body {
  font-family: 'Roboto';
  background-image: url('/images/server_room_BW.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin-left: 40px;
  margin-right:40px;
  padding: 0;
  height: 100%;
  background-color: #404040;
  color: white;
  font-size: 18px;
}

.collapse {
  background-color: Transparent;
  background-repeat:no-repeat;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
}

.active,
.collapse:hover {
  color: lightskyblue;
}

.company {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9 {
  display: none;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  max-width: 50%;
  font-size: 18px;
  color: lightskyblue;
}

.home {
  margin-top: 20px;
  margin-left: 40px;
  margin-right:40px;
  margin-bottom: 20px;
  max-width: 50%;
  font-size: 18px;
}

.button {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;        
}